#mv {
	background-color:indigo;
	color:white;
	font-size:30px;
	width:520px;
}
#nav {
	color:indigo;
	background-color:chartreuse;
	font-size:30px;
	width:350px;
}
#pgdi {
	background-color:indigo;
	color:white;
	margin-left:220px;
	width:260px;
}
#td {
	color:black;
	background-color:burlywood;
}
#td2 {
	color:white;
	background:black;
}
#td3 {
	color:white;
	background:black;
}
#ft {
	color:white;
	background:black;
}

html {
    background-image: url("../Imagens/Imagem3.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
}